.face {
  &__right-box,
  &__left-box {
    width: 20px;
    height: 116px;
    bottom: -25px;
    overflow: hidden;
    position: absolute;
  }

  &__right-box {
    transform: rotate(0.39turn);
    right: 127px;
  }
  
  &__left-box {
    transform: rotate(-0.39turn);
    left: 127px;
  }

  &__right,
  &__left {
    width: 150px;
    height: 150px;
    position: absolute;
    background-color: $skin;
    border-top: 1px solid $black;
    border-radius: 33%;
  }

  &__right {
    right: 0;
    border-right: 1px solid $black;
  }

  &__left {
    left: 0;
    border-left: 1px solid $black;
  }

  &__center,
  &__top {
    background-color: $skin;
    position: absolute;
  }

  &__center {
    width: 100px;
    height: 100px;
    bottom: 25px;
    right: 52px;
    transform: rotate(0.375turn);
  }

  &__top {
    width: 159px;
    height: 85px;
    top: 66px;
    right: 24px;
  }
}